#
####### Python Requirements for Full Cycle #######
#
# Install using...
# pip3 install -r requirements.txt
#
###### External apps. See atpfile ######
#sudo apt-get install dos2unix
#For discovery
#sudo apt-get install nmap
#
###### Requirements without Version Specifiers ######
colorama
jsonpickle
marshmallow
#not nmap!
python-nmap
paramiko
paho-mqtt
#telethon
#telegram
python-telegram-bot
#sudo apt-get install python-mysqldb
#mysqldb
#mysql-client
mysqlclient
#mysql-python
sqlalchemy
#for RabbitMQ
pika
#for redis
redis
docker
# for camera, this one will error on windows, of course
#python3-picamera
#opencv not working
#opencv-python

#for temperature module:
#	Adafruit_DHT
#	git clone https://github.com/adafruit/Adafruit_Python_DHT.git
#	cd Adafruit_Python_DHT
#	sudo python3 setup.py install
